subscription_id     = "00000000-0000-0000-0000-000000000000"
resource_group_name = "rg-nazwa-twojej-grupy"
project             = "tftrain"
owner               = "<twoje-inicjaly-malymi-literami>"
environment         = "dev"
gdpr                = "public"
